<!DOCTYPE html>
<html class="h-full bg-white">
  <head>
    <title>嘉義 太子傢俱設計公司</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="h-full overflow-hidden">
    <div class="h-full flex">
      <%= render "layouts/multi-column" %>
      <%= yield %>
    </div>
  </body>
</html>
